aniso8601==3.0.0
boto3==1.7.64
botocore==1.10.64
certifi==2018.4.16
chardet==3.0.4
Django==2.0.6
django-cors-headers==2.2.0
django-environ==0.4.4
django-filter==1.1.0
django-graphql-jwt==0.1.10
docutils==0.14
graphene==2.1.1
graphene-django==2.0.0
graphene-file-upload==0.1.2
graphql-core==2.0
graphql-relay==0.4.5
idna==2.6
iso8601==0.1.12
jmespath==0.9.3
Pillow==8.1.1
promise==2.1
PyJWT==1.6.4
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
Rx==1.6.1
s3transfer==0.1.13
singledispatch==3.4.0.3
six==1.11.0
typing==3.6.4
urllib3==1.22
xlwt==1.3.0
